<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fortune.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fortune.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @fortune.rating %>
</p>

<p>
  <strong>Image:</strong>
  <%= @fortune.image %>
</p>

<%= link_to 'Edit', edit_fortune_path(@fortune) %> |
<%= link_to 'Back', fortunes_path %>
<br>
<br>
<% @fortune.comments.each do |comment| %>
  <%= comment.content %> 
  <%= link_to "destroy", fortune_comment_path(@fortune.id,comment.id), method: 'delete' %>
  <br>
<% end %>

<%= form_for Comment.new, url:fortune_comments_path(@fortune.id) do |f| %>
  <%= f.label "Comment"%>
  <%= f.text_field :content %>
  <%= f.submit "go"%>
<%end%>
